
article.tweet {
  box-sizing: border-box;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(133,133,133);
  /*height: 180px;*/
}

article.tweet header {
  background-color: rgb(238,238,238);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 60px;
  padding: 10px;
}

article.tweet img {
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 5px;
}

article.tweet h3,
article.tweet h6,
article.tweet p {
  margin: 0px;
}

article.tweet h3 {
  color: rgb(101,126,133);
  float: left;
  padding-left: 10px;
  font-size: 1.25em;
}

article.tweet h6 {
  color: rgb(119,119,119);
  float: right;
  font-weight:normal;
  font-size: 0.8em;
  padding-top: 5px;
}

article.tweet > p {
  color: rgb(33,69,80);
  padding: 2em 10px;
}

article.tweet footer > p {
  border-top: 1px solid rgb(238,238,238);
  color: rgb(58,91,100);
  padding-left: 10px;
  line-height: 35px;
  font-size: 0.75em;
}

article.tweet {
  opacity: 0.75;
}

article.tweet:hover {
  opacity: 1;
}