$border-radii: 5px;

article.tweet {
  box-sizing: border-box;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 10px;
  border-radius: $border-radii;
  border: 1px solid rgb(133,133,133);
  /*height: 180px;*/
  opacity: 0.75;

  header {
    background-color: rgb(238,238,238);
    border-top-right-radius: $border-radii;
    border-top-left-radius: $border-radii;
    height: 60px;
    padding: 10px;
  }

  img {
    height: 40px;
    width: 40px;
    float: left;
    border-radius: $border-radii;
  }

  h3,
  h6,
  p {
    margin: 0px;
  }

  h3 {
    color: rgb(101,126,133);
    float: left;
    padding-left: 10px;
    font-size: 1.25em;
  }

  h6 {
    color: rgb(119,119,119);
    float: right;
    font-weight:normal;
    font-size: 0.8em;
    padding-top: 5px;
  }

  > p {
    color: rgb(33,69,80);
    padding: 2em 10px;
  }

  footer > p {
    border-top: 1px solid rgb(238,238,238);
    color: rgb(58,91,100);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 35px;
    font-size: 0.75em;
  }

  .fa.fa-heart {
    color: rgb(1,160,133);
    line-height: 35px;
    float: right;
    opacity: 0;
  }

}

article.tweet:hover {
  opacity: 1;

  .fa.fa-heart {
    opacity: 0.75;
  }

  .fa.fa-heart:hover {
    text-shadow: 0px 0px 1px #000;
  }
}