$navHeight: 80px;

#nav-bar {
  position: fixed;
  top: 0px;
  height: $navHeight;
  width: 100%;
  background-color: #00a087;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;

  .header {
    color: #e8fdff;
    float: left;
    font-size: 2em;
    line-height: $navHeight;
    padding-left: 10px;
  }

  .logo {
    height: $navHeight;
    width: $navHeight;
    float: left;
  }

  .btn-compose {
    display: none;
    background-color: rgb(231,253,255);
    color: rgb(1,160,133);

    margin: 0;
    margin-top: 9px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 5px;
    float: right;

    font-size: 1.35em;
    text-align: center;
    line-height: $navHeight - 20px;
    width: 120px;
    /*width: 14%;*/

    &:hover {
      background-color: #fff;
      color: #000;
    }

    &:focus {
      outline: 0;
    }
  }

  .btn-register-login {
    @extend .btn-compose;
    display: block;
    font-size: 1em;
  }

}

/*@media (max-device-width: 11cm), (max-width: 500px) {
  #nav-bar {
    .btn-compose {
      width: $navHeight - 20px;
      change to icon later

      &:hover {
        background-color: #fff;
        color: #000;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}*/
